// CONTENT
.white{
    width: 95%;
    height: 450px;
    margin-left: 3%;
    margin-top: 7%;
    font-size: 20px;
    .title{
      height: 130px;
      border-left: 3px solid rgba(255, 230, 10, 0.884);
      padding: 2%;
      margin-left: 5%;
    }  
    p{
      font-size: 18px;
    }
    .column{
      display: flex;
      margin: 2%;
      margin-left: 20%;
      width: 60%;
      height: 350px;
      padding: 25px 20px 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      box-sizing: border-box ;
      .contactForm{
         width: 350px;
         height: 200px;
         margin-left: 5%;
         .hook{
             border-bottom: 1px solid black;
             width: 90%;
             input,textarea{
                 padding: 5%;
                 border: none;
             }
         }
        span{
            color:red;
            font-size: 14px;
        }
        button{
            width: 150px;
            border-radius: 25px;
            background-color: rgba(255,230,10,0.884);
            color:black;
            font-size: 14px;
            padding: 3%;
            margin-left: 1%;
            margin-top: 5%;
        }
      }
      .map img{
          width: 250px;
          height: 250px;
          margin-top: 10%;
          box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -15px 19px 2px 3px rgba(255,230,10,0.884);
      }
    }
  }
  .dark {
    background: black;
    color: rgba(255, 230, 10, 0.884);
  }
  
  
  // RESPONSIVE
  // Extra small devices
@media (max-width: 576px) { 
  .white{
    height: 700px;
    width: 80%;
   .column{
   display: flex;
   flex-direction: column;
   }
   .contactForm{
    width: 100px;
   }
   .hook{
    width: 100px;
  }
  .map{
    margin-top: 45%;
  }
  }
 }
   // Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
  .white{
  height: 700px;
  width: 80%;
  .map{
    margin-left: 5%;
  }
 }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 992px) { 
  .white{
  width: 100%;
}
}
