<div class="black" class="{{ darkTheme ? 'dark' : ''  }}">
    <div class="title">
        <h2>Our Clients Say</h2>
        <p>
          We are reguarded as industry leaders in stuning website solutions, focused <br>on delivering unsurpased users experiences
        </p>
      </div>
      <!-- IMAGE CAROUSEL -->
      <div id="slider">
        <div id="slider-wrapper">
            <div class="slide">
                <img src="../../../assets/clients/client1_960_300.jpg" alt="client1" />
                <p class="caption">Caption 1</p>
            </div>
            <div class="slide">
                <img src="../../../assets/clients/client2_960_300.jpg" alt="client2" />
                <p class="caption">Caption 2</p>
            </div>
            <div class="slide">
                <img src="../../../assets/clients/client3_960_300.jpg" alt="client3" />
                <p class="caption">Caption 3</p>
            </div>
            <div class="slide">
                <img src="../../../assets/clients/client4_960_300.jpg" alt="client4" />
                <p class="caption">Caption 4</p>
            </div>
            <div class="slide">
                <img src="../../../assets/clients/client5_960_300.jpg" alt="client5" />
                <p class="caption">Caption 5</p>
            </div>
        </div>
        <div id="slider-nav">
            <a href="#" data-slide="0">1</a>
            <a href="#" data-slide="1">2</a>
            <a href="#" data-slide="2">3</a>
            <a href="#" data-slide="3">4</a>
            <a href="#" data-slide="4">5</a>
        </div>
    </div>	
    
  </div>


