<div class="black" class="{{ darkTheme ? 'dark' : ''  }}">
    <div class="title">
        <h2><a>Practis Area</a></h2>
        <p>
          We are reguarded as industry leaders in stuning website solutions, focused <br>on delivering unsurpased users experiences
        </p>
      </div>
      <div class="column">
        <div>
           <table>
             <div class="box">
              <img src="../assets/icons/thumb_up_white_24dp.svg"/>
                <tr>  
                  <td><h3>Private Client Service</h3> - Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. </td>
                </tr>
              </div>
              <div class="box">
                <img src="../assets/icons/important_devices_white_24dp.svg"/>
                <tr>
                  <td><h3>Cyber Sequer</h3> - Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.</td>
                </tr>
              </div>           
           </table>
      </div>
      <div>
         <table>
           <div class="box">
            <img src="../assets/icons/build_white_24dp.svg"/>
              <tr>
                <td><h3>Labour And Employment</h3> - Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</td>
              </tr>
            </div>
            <div class="box">
              <img src="../assets/icons/home_white_24dp.svg"/>
              <tr>
                <td><h3>Real Estate</h3> - Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</td>
              </tr> 
            </div>         
         </table>
      </div>
  </div>
