<div class="white" class="{{ darkTheme ? 'dark' : ''  }}">
    <div class="title">
        <h2><a id="about">About us</a></h2>
        <p>
          We are reguarded as industry leaders in stuning website solutions, focused <br>on delivering unsurpased users experiences
        </p>
      </div>
      <div class="column">
       
        <div>
          <h3>HISTORY</h3>
           <table>
             <tr><b>2016</b><td> - Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. </td></tr>
             <tr><b>2015</b><td> - Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</td></tr>
             <tr><b>2014</b><td> - Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</td></tr>           
             </table>
      </div>
        <h3>EXPERTISE</h3>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
            Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
            Excepteur sint occaecat cupidatat non proident...
          </p>
      </div>
    </div>
