<!-- IMAGE SLIDER -->
<div class="carousel-sliders">
    <div class="carousel-sliders-inner">
        <div class="slide active">
            <img alt="Slide 1" src="../assets/slider/prawnik1_800_400.jpg" />
            <div class="carousel-caption">
                <h3>Slide 1</h3>
                <p>Slde 1 content</p>
            </div>
        </div>
        <div class="slide">
            <img alt="Slide 2" src="../assets/slider/prawnik2_800_400.jpg" />
            <div class="carousel-caption">
                <h3>Slide 2</h3>
                <p>Slde 2 content</p>
            </div>
        </div>
        <div class="slide">
            <img alt="Slide 3" src="../assets/slider/prawnik3_800_400.jpg" />
            <div class="carousel-caption">
                <h3>Slide 3</h3>
                <p>Slde 3 content</p>
            </div>
        </div>
        <div class="slide">
            <img alt="Slide 4" src="../assets/slider/prawnik4_800_400.jpg" />
            <div class="carousel-caption">
                <h3>Slide 4</h3>
                <p>Slde 4 content</p>
            </div>
        </div>
        <div class="slide">
            <img alt="Slide 5" src="../assets/slider/prawnik5_800_400.jpg" />
            <div class="carousel-caption">
                <h3>Slide 5</h3>
                <p>Slde 5 content</p>
            </div>                    
        </div>
    </div> 
    <div class="carousel-controls left">
        <div tabindex="0" class="prevSlide" role="button">
            <span class="prevIcon"></span>
            <span class="sr-only">Previous</span>
        </div> 
    </div>
    <div class="carousel-controls right">    
        <div tabindex="0" class="nextSlide" role="button">
            <span class="nextIcon"></span>
            <span class="sr-only">Next</span>
        </div>
    </div>                     
    <ul class="carousel-indicators">
        <li tabindex="0" role="button" class="active" aria-disabled="false"></li>
        <li tabindex="0" role="button" aria-disabled="true"></li>
        <li tabindex="0" role="button" aria-disabled="true"></li>
        <li tabindex="0" role="button" aria-disabled="true"></li>
        <li tabindex="0" role="button" aria-disabled="true"></li>
    </ul>            
</div>
