<div class="container" class="{{ darkTheme ? 'dark' : ''  }}">
  
    <div class="logo">
      <p>ADVOCATUS<span>.</span></p>
    </div>
    <button (click)="toggleTheme()">
      <img src="../assets/icons/eye.svg" alt="dark background"/>
    </button>
    
     <!-- NAVIGATION -->
     <app-nav [events]="eventsSubject.asObservable()"></app-nav>  

     <app-slider></app-slider>

     <!-- CONTENT -->
     <app-about  [events]="eventsSubject.asObservable()"></app-about> 
     <app-practis [events]="eventsSubject.asObservable()"></app-practis>
     <app-lawyers [events]="eventsSubject.asObservable()"></app-lawyers>
     <app-clients [events]="eventsSubject.asObservable()"></app-clients>
     <app-publications [events]="eventsSubject.asObservable()"></app-publications>
     <app-faq [events]="eventsSubject.asObservable()"></app-faq>
     <app-contact [events]="eventsSubject.asObservable()"></app-contact>
 
</div>