<div class="container" class="{{ darkTheme ? 'dark' : ''  }}">
  
    <div class="logo">
      <p>ADVOCATUS<span>.</span></p>
    </div>
    <button (click)="toggleTheme()">
      <img src="../assets/icons/eye.svg" alt="dark background"/>
    </button>
    
     <!-- NAVIGATION -->
     <app-nav></app-nav>  

     <app-slider></app-slider>

     <!-- CONTENT -->
     <app-about></app-about> 
     <app-practis></app-practis>
     <app-lawyers></app-lawyers>
     <app-clients></app-clients>
     <app-publications></app-publications>
     <app-faq></app-faq>
     <app-contact></app-contact>
 
</div>