<div class="container">
  <div class="logo">
    <p>ADVOCATUS<span>.</span></p>
  </div>
  <!-- NAVIGATION -->
    <section>
        <nav class="stroke">
          <ul>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#practis">PRACTICE AREA</a></li>
            <li><a href="#">LAWYERS</a></li>
            <li><a href="#">PUBLICATIONS</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </nav>
      </section>
      
     

      <!-- IMAGE SLIDER -->
      <div class="carousel-sliders">
        <div class="carousel-sliders-inner">
            <div class="slide active">
                <img alt="Slide 1" src="../assets/prawnik1_800_400.jpg" />
                <div class="carousel-caption">
                    <h3>Slide 1</h3>
                    <p>Slde 1 content</p>
                </div>
            </div>
            <div class="slide">
                <img alt="Slide 2" src="../assets/prawnik2_800_400.jpg" />
                <div class="carousel-caption">
                    <h3>Slide 2</h3>
                    <p>Slde 2 content</p>
                </div>
            </div>
            <div class="slide">
                <img alt="Slide 3" src="../assets/prawnik3_800_400.jpg" />
                <div class="carousel-caption">
                    <h3>Slide 3</h3>
                    <p>Slde 3 content</p>
                </div>
            </div>
            <div class="slide">
                <img alt="Slide 4" src="../assets/prawnik4_800_400.jpg" />
                <div class="carousel-caption">
                    <h3>Slide 4</h3>
                    <p>Slde 4 content</p>
                </div>
            </div>
            <div class="slide">
                <img alt="Slide 5" src="../assets/prawnik5_800_400.jpg" />
                <div class="carousel-caption">
                    <h3>Slide 5</h3>
                    <p>Slde 5 content</p>
                </div>                    
            </div>
        </div> 
        <div class="carousel-controls left">
            <div tabindex="0" class="prevSlide" role="button">
                <span class="prevIcon"></span>
                <span class="sr-only">Previous</span>
            </div> 
        </div>
        <div class="carousel-controls right">    
            <div tabindex="0" class="nextSlide" role="button">
                <span class="nextIcon"></span>
                <span class="sr-only">Next</span>
            </div>
        </div>                     
        <ul class="carousel-indicators">
            <li tabindex="0" role="button" class="active" aria-disabled="false"></li>
            <li tabindex="0" role="button" aria-disabled="true"></li>
            <li tabindex="0" role="button" aria-disabled="true"></li>
            <li tabindex="0" role="button" aria-disabled="true"></li>
            <li tabindex="0" role="button" aria-disabled="true"></li>
        </ul>            
    </div>

   <!-- CONTENT -->
   <div class="white">
    <div class="title">
        <h2>ABOUT US</h2>
        <p>
          We are reguarded as industry leaders in stuning website solutions, focused <br>on delivering unsurpased users experiences
        </p>
      </div>
      <div class="column">
       
        <div>
          <h3>HISTORY</h3>
           <table>
             <tr><b>2016</b><td> - Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. </td></tr>
             <tr><b>2015</b><td> - Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</td></tr>
             <tr><b>2014</b><td> - Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</td></tr>           
           </table>
  
      </div>
        <h3>EXPERTISE</h3>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Excepteur sint occaecat cupidatat non proident...
        </p>
      </div>
    </div>
    <div class="black">
      <div class="title">
          <h2><a id="practis">PRACTIS AREA</a></h2>
          <p>
            We are reguarded as industry leaders in stuning website solutions, focused <br>on delivering unsurpased users experiences
          </p>
        </div>
        <div class="column">
          <div>
             <table>
               <div class="box">
                <img src="../assets/thumb_up_white_24dp.svg"/>
                  <tr>  
                    <td><h3>Private Client Service</h3> - Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. </td>
                  </tr>
                </div>
                <div class="box">
                  <img src="../assets/important_devices_white_24dp.svg"/>
                  <tr>
                    <td><h3>Cyber Sequer</h3> - Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</td>
                  </tr>
                </div>           
             </table>
        </div>
        <div>
           <table>
             <div class="box">
              <img src="../assets/build_white_24dp.svg"/>
                <tr>
                  <td><h3>Labour And Employment</h3> - Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.</td>
                </tr>
              </div>
              <div class="box">
                <img src="../assets/home_white_24dp.svg"/>
                <tr>
                  <td><h3>Real Estate</h3> - Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.</td>
                </tr> 
              </div>         
           </table>
        </div>
    </div>
 
</div>