<div class="white">
    <div class="title">
        <h2><a id="publications">Recent Publications</a></h2>
        <p>
          We are reguarded as industry leaders in stuning website solutions, focused <br>on delivering unsurpased users experiences
        </p>
      </div>
      <div class="publications">
        <div class="recent">
            <img src="../../../assets/publications/sytuacja1.jpg"/>
                <ul>
                  <li><b>Publication Title</b></li>
                  <li class="by"><i>by </i><b>Adam Suares</b><span><i>12 Nov 2015</i></span></li>
                </ul> 
                <p>
                    Ex culpa aute nostrud tempor occaecat quis enim consequat nostrud. Elit sunt fugiat tempor elit minim labore voluptate nostrud. Dolor do est fugiat ad veniam magna quis aute est est irure dolore irure.
                </p> 
                <div class="icons">
                    <img src="../../../assets/icons/comments.svg"/> <b> 29 Comments</b>
                    <span></span>
                    <img src="../../../assets/icons/share.svg"/> <b>Share</b>
                </div>
        </div>
        <div class="recent">
          <img src="../../../assets/publications/sytuacja2.jpg"/>
          <ul>
            <li><b>Publication Title</b></li>
            <li class="by"><i>by </i><b>Antony King</b><span><i>12 Nov 2015</i></span></li>
          </ul>
          <p>
              Ex culpa aute nostrud tempor occaecat quis enim consequat nostrud. Elit sunt fugiat tempor elit minim labore voluptate nostrud. Dolor do est fugiat ad veniam magna quis aute est est irure dolore irure.
          </p>
          <div class="icons">
            <img src="../../../assets/icons/comments.svg"/> <b> 29 Comments</b>
            <span></span>
            <img src="../../../assets/icons/share.svg"/> <b>Share</b>
        </div>
        </div>
        <div class="recent">
          <img src="../../../assets/publications/sytuacja3.jpg"/>
          <ul>
            <li><b>Publication Title</b></li>
            <li class="by"><i>by </i><b>Tommy Cruse</b><span><i>12 Nov 2015</i></span></li>
          </ul>
          <p>
            Ex culpa aute nostrud tempor occaecat quis enim consequat nostrud. Elit sunt fugiat tempor elit minim labore voluptate nostrud. Dolor do est fugiat ad veniam magna quis aute est est irure dolore irure.
        </p>
        <div class="icons">
            <img src="../../../assets/icons/comments.svg"/> <b> 29 Comments</b>
            <span></span>
            <img src="../../../assets/icons/share.svg"/> <b>Share</b>
        </div>
        </div>   
      </div>
    </div>

