// CONTENT
.white{
    width: 95%;
    height: 450px;
    margin-left: 3%;
    margin-top: 7%;
    font-size: 20px;
    .title{
      height: 130px;
      border-left: 3px solid rgba(255, 230, 10, 0.884);
      padding: 2%;
      margin-left: 5%;
    }  
    p{
      font-size: 18px;
    }
    .publications{
      display: flex;
      padding: 1%;
      margin-left: 9%;
      .recent{
        display:block;
        margin: 2%;
		width: 280px;
		border-bottom: 3px solid rgba(255, 230, 10, 0.884);
        img{
          width: 280px;
          height: 240px;
        }
        ul{
          margin: 0;
          padding: 0;
          li{
            list-style: none;
          }
          .by{
            font-size: 14px;
          }
        }
		span{
			font-size: 14px;
			margin-left: 37%;
		}
		p{
			font-size: 14px;
		}
		.icons{
			font-size: 14px;
			img{
				width: 24px;
				height: 24px;
			}
			span{
				width: 15%;
			}
		}
      }
     
    }
  }
  .dark {
    background: black;
    color: rgba(255, 230, 10, 0.884);
  }
  
  
  // RESPONSIVE
  // Extra small devices
@media (max-width: 576px) { 
  .white{
    height: 1300px;
    width: 80%;
   .publications{
   display: flex;
   flex-direction: column;
   margin-left: 25%;
   .recent{
    display: flex;
    flex-direction: column;
   }
   }
  }
 }
  // Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
  .white{
  height: 1300px;
  width: 80%;
 .publications{
 display: flex;
 flex-direction: column;
 margin-top: 8%;
 margin-left: 30%;
 .recent{
   width: 150px;
  display: flex;
  flex-direction: column;
  img{
    width: 150px;
  }
}

 }
}
}
// Medium devices (tablets, less than 992px)
@media (max-width: 992px) { 
  .white{
  width: 100%;
  height: 520px;
  .publications{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    .recent{
      width: 200px;
    }
    img{
      width: 200px;
    }
    }
}
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1200px) { 
	//  It's ok
}