<!-- NAVIGATION -->
<section>
    <nav class="stroke">
      <ul>
        <li><a href="#about" (click)="scroll('about')">ABOUT US</a></li>
        <li><a href="#practis" (click)="scroll('practis')">PRACTICE AREA</a></li>
        <li><a href="#lawyers" (click)="scroll('lawyers')">LAWYERS</a></li>
        <li><a href="#publications" (click)="scroll('publications')">PUBLICATIONS</a></li>
        <li><a href="#faq" (click)="scroll('faq')">FAQ</a></li>
        <li><a href="#contact" (click)="scroll('#contact')">CONTACT</a></li>
      </ul>
    </nav>
  </section>
