<div class="white" class="{{ darkTheme ? 'dark' : ''  }}">
    <div class="title">
        <h2><a id="lawyers">Meet Our Attornay</a></h2>
        <p>
          We are reguarded as industry leaders in stuning website solutions, focused <br>on delivering unsurpased users experiences
        </p>
      </div>
      <div class="lawyers">
        <div class="lawyer">
            <img src="../../../assets/lawyers/lawyer1_250_400.jpg" alt="lawyer1"/>
                <ul>
                  <li><b>Adam Suares</b></li>
                  <li class="function">Attorney General</li>
                </ul>        
        </div>
        <div class="lawyer">
          <img src="../../../assets/lawyers/lawyer2_250_400.jpg" alt="lawyer2"/>
          <ul>
            <li><b>Adam Suares</b></li>
            <li class="function">Attorney General</li>
          </ul>
        </div>
        <div class="lawyer">
          <img src="../../../assets/lawyers/lawyer3_250_400.jpg" alt="lawyer3"/>
          <ul>
            <li><b>Adam Suares</b></li>
            <li class="function">Attorney General</li>
          </ul>
        </div>
        <div class="lawyer">
          <img src="../../../assets/lawyers/lawyer4_250_400.jpg" alt="lawyer4"/>
          <ul>
            <li><b>Adam Suares</b></li>
            <li class="function">Attorney General</li>
          </ul>
       </div>
        
        
      </div>
    </div>

