// CONTENT
.white{
    width: 95%;
    height: 450px;
    margin-left: 3%;
    margin-top: 30%;
    font-size: 20px;
    .title{
      height: 130px;
      border-left: 3px solid rgba(255, 230, 10, 0.884);
      padding: 2%;
    }  
    p{
      font-size: 18px;
    }
    
  }