// CONTENT
.white{
    width: 95%;
    height: 450px;
    margin-left: 3%;
    margin-top: 7%;
    font-size: 20px;
    .title{
      height: 130px;
      border-left: 3px solid rgba(255, 230, 10, 0.884);
      padding: 2%;
      margin-left: 5%;
    }  
    p{
      font-size: 18px;
    }
    .lawyers{
      display: flex;
      padding: 1%;
      margin-left: 10%;
      .lawyer{
        display:block;
        margin: 2%;
        img{
          width: 180px;
          height: 240px;
        }
        ul{
          margin: 0;
          padding: 0;
          li{
            list-style: none;
          }
          .function{
            font-size: 14px;
          }
        }
  
      }
     
    }
  }
  .dark {
    background: black;
    color: rgba(255, 230, 10, 0.884);
  }
  // RESPONSIVE
  // Extra small devices
@media (max-width: 576px) { 
  .white{
    height: 1300px;
   display: flex;
   flex-direction: row;
   .lawyers{
   display: flex;
   flex-direction: column;
   }
  }
  
 }

// // Small devices (landscape phones, less than 768px)
// @media (max-width: 768px) {
//   .lawyer{
//     display:flex;
//   }
// }

// // Medium devices (tablets, less than 992px)
// @media (max-width: 992px) { 
  
//     .lawyer{
//      display:flex;
//     }
// }


// Large devices (desktops, less than 1200px)
// @media (max-width: 1200px) { 
//   .lawyers{
//     display:block;
//     .lawyer{
//       display:flex;
//     }
//   }
// }